Django==1.9
configobj==4.7.2
decorator==3.4.0
dj-database-url==0.4.1
django-cors-headers==1.1.0
djangorestframework==3.4.6
djangotoolbox==1.8.0
gunicorn==19.6.0
Markdown==2.6.6
Pillow==3.1.0
psycopg2==2.5.3
pymongo==3.3.0
requests==2.9.1
spotipy==2.3.7
virtualenv==14.0.1
virtualenvwrapper-win==1.2.1
whitenoise==3.2.1
wsgiref==0.1.2
