{% extends 'pizza_ml/base.html' %}

{% block content %}

{% verbatim %}
<div class="white">

        <h4>The aim of the game is to help learn your pizza preference based on a series of pizzas pairs.</h4>
        <h4>You will be asked a series of questions on your favourite pizzas over 5 rounds.</h4>
        <ol><li>After registering you will have to log in with the username and password you just created.</li>
        <li>A form with apear, please fill out your details as best as possible.</li>
        <li>Once complete you will enter the training round to practice (see below for important buttons and icons).</li>
        <li>Once ready you can start the actual Pizza Preference Game of 5 rounds. Within each round you will be shown a series of pizzas pairs and asked which one you would prefer. To help you make your choice you can look at the toppings.</li>
        <li>At the end you will be given the option to have a pizza prediction delivered to you via email.</li></ol>
        <h4>It should take roughly 10 minutes to complete... Enjoy!!</h4>
</div>

<div class="white">       
        <h3>About</h3>
        <p>
          The aim of this game is to gather data about users pizza preferances for the purposes of training a machine learning model.
          This is part of a masters project, the data from this game will be saved anonymously, in a safe way and means no one will be able to identify you after the form has been submitted.
          If you could fill in the following form and pick your preferances to the best of your ability.
          Once the game is completed you will be asked if we can email you with your results, then the data will be collected and analysed with other data.
          Please ask questions to email 2155569b@student.gla.ac.uk, if you need to and please make sure you pick a <strong>"yes" or "no" answer to the end question</strong>  when you have finished.
        Please remember this is an data gathering exercise on your pizza preferances your ability is not being evaluated.
        Please be honest with your answers and don’t worry if you give the same answer twice.
        You are welcome to stop and abort the game at any point by logging out.
        If you have any questions before you start please email 2155569b@student.gla.ac.uk .
        Thank you for your time.</p>

</div>
<div class="white">

    <!-- buttons description -->
    <div class="hili light-blue">
        <h3>Buttons</h3>
        <table class="table">
            <tr>
                <td><div id="like" style="box-shadow:none;"></div></td>
                <td><strong>Like</strong> Click if you prefer this pizza. i.e. hawian vs. pepperoni, if you prefer hawian to pepperoni.</td>
            </tr>
        </table>

        <h3>Icons</h3>
        <table class="table">
            <tr>
                <td><div id="pz-med" style="box-shadow:none;"></div></td>
                <td><strong>Pizza number</strong> Shows you how many you have.</td>
            </tr>
            
            <tr>
                <td><div id="pz-small"></div></td>
                <td><strong>Round</strong> Shows you which round you are in.</td>
            </tr>
        </table>
    </div>
    <table class="table">
            <tr>
                <td></td>
                <td><a href="/register/" class="btn btn-primary next" role="button">Next</a></td>
            </tr>
        </table>
</div>

{% endverbatim %}

{% endblock %}