{% extends 'pizza_ml/base.html' %}

{% block content %}

{% verbatim %}
<div class="intro">
    <div>
        <h4>Welcome to Shutta Your Pizza Face preference game.</h4>
        <h4>The aim of the game is to help learn your pizza preference based on a series of pizzas pairs.</h4>
    </div>
    <div>
        <h2>Objective</h2>
        <p>You will be asked a series of questions on your favourite pizza’s.
        After registering and filling out your details you will enter in to the Pizza Preference Game witch comprises of 5 rounds.
        Within each round you will be shown a series of pizzas pairs and asked which one you would prefer, to help you make your choice you can look at the toppings.
        And the end you will be given the option to have a pizza prediction delivered to you via email.</p>
    </div>
    
    <a href="/register/" class="btn btn-primary next" role="button">Next</a>
    <!-- buttons description -->
    <div class="hili light-blue">
        <h3>Buttons</h3>
        <table class="table">
            <tr>
                <td><div id="like"></div></td>
                <td><strong>Like</strong> Click if you prefer this pizza. i.e. hawian vs. pepperoni, if you prefer hawian to pepperoni.</td>
            </tr>
            
            <tr>
                <td><div id="yes"></div></td>
                <td><strong>Correct</strong> Click if you think the prediction is of a pizza you would enjoy eating.</td>
            </tr>
            
            <tr>
                <td><div id="no"></div></td>
                <td><strong>Not correct</strong> Click if you think the prediction is of a pizza you really would not enjoy eating.</td>
            </tr>

        </table>
    </div>
    <a href="/register/" class="btn btn-primary next" role="button">Next</a>
</div>

{% endverbatim %}

{% endblock %}