{% extends 'pizza_ml/base.html' %}

{% block user_content %}

        <div class="col-xs-3">
          <h3>Thank you for taking part in the preference assessment game.</h3>
          <p>We would you like to save your email address to deliver you a pizza prediction.
          Your email address will be deleted after the project is finished and will not be passed to another party.
          Can we email you?</p>
          <!--Pairs-->
          {% if pairs %}
          <ol>
          {% for pair in pairs %}
            <li><h4>{{ pair.index }}</h4><small>value:{{ pair.value }}</small></li>
          {% endfor %}
          </ol>
          {% endif %}
      </div>
    </boy>

{% endblock %}