<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href ='/static/css/bootstrap.min.css' rel='stylesheet' />
        <link href ='/static/css/pizza-style.css' rel='stylesheet' />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="/static/js/app.js"></script>
        <title>Pizza Face</title>
    </head>
    <body>
      {% csrf_token %}
      {% verbatim %}
      <div ng-app="pairApp" ng-controller="pairsController">

          <div class="pizzas">
          <!--Pizza left-->
          <ol class ="pizzas-cont col-xs-3">
              <li class="meal-cont">
            <h3>{{ leftside.name }}</h3>
            <div class="meal-image"><img src='{{ leftside.pic }}'/></div>
            <button style='width:50px; background-color:#4477ff;' ng-click='prefLeft()'>This</button>
            <small>index:{{ leftside.index }}</small>
            <ul>
                <li ng-repeat="ingredient in leftside.ingredients">{{ ingredient }}</li>
            </ul>
            </li>
          </ol>
      </div>
      
      <div class="col-xs-2">
          <!--Pizza left-->
          <ol>
            <li><small>pair index:{{ indexs.index }}, value: {{ indexs.value }} </small>
                
            </li>
          </ol>
      </div>
      
      <div class="pizzas">
          <!--Pizza right-->
          <ol class ="pizzas-cont col-xs-3">
              <li class="meal-cont">
            <h3>{{ rightside.name }}</h3>
            <div class="meal-image"><img src='{{ rightside.pic }}'/></div>
            <button style='width:50px; background-color:#22ff55;' ng-click='prefRight($index)'>That</button>
            <small>index:{{ rightside.index }}</small>
            <ul class="meal-info">
                <li ng-repeat="ingredient in rightside.ingredients">{{ ingredient }}</li>
            </ul>
            </li>
          </ol>
      </div>
      
         <div class="col-xs-2">
              <button style='width:50px; background-color:#dd6611;' ng-click='pairs()'>pairs</button>
              {{ new_index }}
              <h2><small>{{ round }}</small>{{ countdwn }}</h2>
        </div>
              
      </div>
      
       {% endverbatim %}
      
      {% if welcome %}
      <div>
          {{ welcome  }}
      </div>
      {% endif %}
      
</html>