{% extends 'pizza_ml/base.html' %}

{% block user_content %}

{% verbatim %}

<div class="intro">
  
  <div class="">
        
  <h3>Please fill in the form below.</h3>
    
    <!-- Form -->
    <div class="hili" ng-app="formApp" ng-controller="formController">

        <form class="form-horizontal" role="form" name="userForm" ng-model="user">
          
          <!-- age <span ng-show="userForm.age.$dirty && userForm.age.$invalid">Required filed</span> -->
          <div class="form-group">
              <label for="age">age:</label>
              <select id="age" class="form-control" ng-model="user.age" ng-options="age.code as age.name for age in ages" name="age" required>
                <option value="">please select</option>
              </select>
              
              
              <br>
        </div>
        
        <!-- gender  -->
        <div class="form-group">
              <label for="gender">gender:</label>
              <select id="gender"class="form-control" ng-model="user.gender" ng-options="sex.code as sex.name for sex in gender" name="gender" required>
                <option value="">please select</option>>
              </select>
              <br>
        </div>
        
        
        <!-- diets  -->
        <div class="form-group col-xs-6">
              <label for="diets">diets:</label>
                <ul class="checkbox">
                  <li ng-repeat="(diet, enabled ) in diets">
                    <input type="checkbox" id="{{ diet }}" name="{{ diet }}" ng-model="diets[diet]" /><label for="{{ diet }}">{{ diet }}</label>
                  </li>
                </ul required>
              <br>
        </div>
        
        <!-- allergies  -->
        <div class="form-group col-xs-6">
              <label for="allergies">allergies:</label>
                <ul class="checkbox" >
                  <li ng-repeat="(alg, enabled ) in allergies">
                    <input type="checkbox" id="a_{{ alg }}" name="{{ alg }}" ng-model="allergies[alg]"/><label for="a_{{ alg }}">{{ alg }}</label>
                  </li>
                </ul required>
              <br>
        </div>
        
        
         <!-- occupation  -->
        <div class="form-group">
              <label for="occupation">occupation:</label>
              <select id ="occupation" class="form-control" ng-model="user.occupation" ng-options="occupation.code as occupation.name for occupation in occupations" name="occupation" required>
                <option value="">please select</option>
              </select>
              <br>
        </div>
        
        <!-- nationality -->
        <div class="form-group">
              <label for="nationality">nationality:</label>
              <select id ="nationality" class="form-control" ng-model="user.nationality" ng-options="country.code as country.name for country in nationalities" name="nationality" required>
                <option value="">please select</option>
              </select>
              <br>
        </div>

          <!-- Submit Button -->
     <button ng-click="fill()" class="btn btn-primary next" type="submit" role="button">Next</button>
     </form>
     </div>
</div>

{% endverbatim %}

{% endblock %}