{% extends 'pizza_ml/base.html' %}

{% block content %}

<p>Please create an account for the game so that the data gethered can be safely seperated from each.</p>
    <p><strong>Please choose a random username that you can remember for the series of the game (i.e. first pets name or favourite pizza topping)</strong></p>

<div class="col-xs-11">
    
    
    <form class="form-horizontal" id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data" >
    
    {% csrf_token %}

    {% for hidden in user_form.hidden_fields %}
        <small>{{ hidden }}</small>
    {% endfor %}

    {% for field in user_form.visible_fields %}
    <div class="form-group">
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        <input type ="{{ field.name }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.name }}">
        <small>{{ field.errors }}{{ field.help_text }}</small>
    </div>
    <br/>
    {% endfor %}


    <p><input class="btn btn-primary" type="submit" name="submit" value="Register" /> <a href="/login/">Login here</a> if you have already registered</p>

    </form>

</div>
{% endblock %}